:root {
  --az-white: #fff;
  --az-black: #0c0d0e;
  --az-orange: #f48024;
  --az-yellow: #fbf2d4;
  --az-green: #5eba7d;
  --az-blue: #0077cc;
  --az-powder: #e1ecf4;
  --az-red: #d1383d;
  --az-black-025: #fafafb;
  --az-black-050: #eff0f1;
  --az-black-075: #e4e6e8;
  --az-black-100: #d6d9dc;
  --az-black-150: #c8ccd0;
  --az-black-200: #bbc0c4;
  --az-black-300: #9fa6ad;
  --az-black-350: #9199a1;
  --az-black-400: #848d95;
  --az-black-500: #6a737c;
  --az-black-600: #535a60;
  --az-black-700: #3c4146;
  --az-black-750: #2f3337;
  --az-black-800: #242729;
  --az-black-900: #0c0d0e;
  --az-orange-050: #fff7f2;
  --az-orange-100: #fee3cf;
  --az-orange-200: #fcd0ad;
  --az-orange-300: #f7aa6d;
  --az-orange-400: #f48024;
  --az-orange-500: #f2720c;
  --az-orange-600: #da670b;
  --az-orange-700: #bd5c00;
  --az-orange-800: #a35200;
  --az-orange-900: #874600;
  --az-blue-050: #f2f9ff;
  --az-blue-100: #cfeafe;
  --az-blue-200: #addafc;
  --az-blue-300: #6cbbf7;
  --az-blue-400: #379fef;
  --az-blue-500: #0095ff;
  --az-blue-600: #0077cc;
  --az-blue-700: #0064bd;
  --az-blue-800: #0054a3;
  --az-blue-900: #004487;
  --az-powder-050: #f4f8fb;
  --az-powder-100: #e1ecf4;
  --az-powder-200: #d1e5f1;
  --az-powder-300: #b3d3ea;
  --az-powder-400: #a0c7e4;
  --az-powder-500: #7aa7c7;
  --az-powder-600: #5b8db1;
  --az-powder-700: #39739d;
  --az-powder-800: #2c5777;
  --az-powder-900: #1e3c52;
  --az-green-025: #eef8f1;
  --az-green-050: #dcf0e2;
  --az-green-100: #cae8d4;
  --az-green-200: #a6d9b7;
  --az-green-300: #82ca9a;
  --az-green-400: #5eba7d;
  --az-green-500: #48a868;
  --az-green-600: #3d8f58;
  --az-green-700: #2f6f44;
  --az-green-800: #29603b;
  --az-green-900: #1e472c;
  --az-yellow-050: #fdf7e3;
  --az-yellow-100: #fbf2d4;
  --az-yellow-200: #f1e5bc;
  --az-yellow-300: #e6d178;
  --az-yellow-400: #e9c63f;
  --az-yellow-500: #ddb624;
  --az-yellow-600: #cea51b;
  --az-yellow-700: #b89516;
  --az-yellow-800: #9f8010;
  --az-yellow-900: #826a0b;
  --az-red-050: #fdf3f4;
  --az-red-100: #f9d3d7;
  --az-red-200: #f4b4bb;
  --az-red-300: #e87c87;
  --az-red-400: #de535e;
  --az-red-500: #d1383d;
  --az-red-600: #c02d2e;
  --az-red-700: #ac2726;
  --az-red-800: #942121;
  --az-red-900: #7a1819;
  --az-gold: #ffcc01;
  --az-gold-lighter: #fff4d1;
  --az-gold-darker: #f1b600;
  --az-silver: #b4b8bc;
  --az-silver-lighter: #e8e8e8;
  --az-silver-darker: #9a9c9f;
  --az-bronze: #caa789;
  --az-bronze-lighter: #f2e9e1;
  --az-bronze-darker: #ab825f;
}
