az-menu-item {
  display: flex;
  white-space: nowrap;
  flex: auto;
  padding: var(--az-padding-normal);
  cursor: default;
  border-left: 1px solid transparent;
  position: relative;
  flex-wrap: nowrap;
  min-width: 8em;
  max-width: 16em;
  &:hover {
    background-color: var(--az-highlight-color);
    .az-caption {
      color: var(--az-caption-color);
    }
  }

  for comptype in plain primary success info warning danger {
    &.{comptype}:hover {
      border-left: 1px solid s("var(--az-%s-color)", comptype);
      & > .az-caption {
        color: s("var(--az-%s-color)", comptype);
      }
      & > .az-icon svg path{
        fill: s("var(--az-%s-color)", comptype);
      }
    }
  }

  .az-caption {
    margin: auto 0.5em;
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.az-menu-item__separator {
  height: 1px;
  line-height: 0;
  padding: 0;
  background-color: var(--az-border-color);
}
.az-menu-item__extra {
  margin-left: auto;
  color: var(--az-caption-color);
}
